tags
./tags
mithril.e*
mithril.o*
./mithril.e*
./mithril.o*
new_arxiv/*
./new_arxiv/*
new_arxiv
./new_arxiv
./build
./build/*
build
build/*
./slurm-*
slurm-*
./checkpointed_weights*
checkpointed_weights*
.nsf*
./.nsf*
